
<h1>Create Yo' Currency</h1>

<h4>Currently you can add: circle, square, basic text. You're stuck with the cat...for now.</h4>

<div class="row">
  <div class="col-md-12">
    <div class="currency_create">
      <canvas id="c"></canvas>
    </div>
  </div>
</div>
<br>

<div class="row">
  <a href="javascript:void(0)" class="btn btn-warning" id="add_square">Add A Square</a>
<a href="javascript:void(0)" class="btn btn-success" id="add_circle">Add A Circle</a>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <div class="input-group-btn">
       <a href="javascript:void(0)" class="btn btn-danger" id="add_text">Add Text</a>
      </div>
      <input type="text" class="form-control" id='text'>
    </div>
  </div>
</div>


<!-- <select id="#e7">Some shit</select>
 -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
