
<h1>Create Yo' Cultural Currency</h1>

<div class="row">
  <div class="col-md-12">
    <div class="currency_create">
      <canvas id="c"></canvas>
    </div>
  </div>
</div>
<br>

<a href="javascript:void(0)" class="btn btn-warning" id="add_shape">Add A Square</a>

<select id="#e7">Some shit</select>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
